Sudden_Impact_Challenge/Workspace/.metadata/.plugins/com.ti.dvt.datamodel/SolutionMgr.xml
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.cdt.core/.log
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.core.resources/.history/16/002d2bad95b5001415b38ffb52e96c3a
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.core.resources/.history/26/308973cba7b5001415b38ffb52e96c3a
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.core.resources/.history/2e/70531b8497b5001415b38ffb52e96c3a
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.core.resources/.history/35/302f82cba7b5001415b38ffb52e96c3a
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.core.resources/.history/7a/c054d9e1a7b5001415b38ffb52e96c3a
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.core.resources/.history/85/10d4ff8e96b5001415b38ffb52e96c3a
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.core.resources/.history/ad/906c0f8497b5001415b38ffb52e96c3a
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.core.resources/.history/b7/f05832ad95b5001415b38ffb52e96c3a
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.core.resources/.history/c7/c089e5e1a7b5001415b38ffb52e96c3a
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.core.resources/.history/e7/e057158f96b5001415b38ffb52e96c3a
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/tcp_socket/.indexes/33/history.index
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/tcp_socket/.markers
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.e4.workbench
Sudden_Impact_Challenge/Workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/tcp_socket/com.ti.ccstudio.project.core\Debug\symbols
